/* Bridges Web App Version 0.1.5 */
/* Natkiypie */

body {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  padding-bottom: 100px;
  width: 850px;
  background-color: #aaaaaa;
  color: #777777;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif, Arial, Helvetica, serif;
}

h1 {
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 3em;
  color: #878787;
}

a {
  text-decoration: none;
}

button,
input[type=submit],
#criteria-container p {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  box-shadow: -5px 8px #777777;
  margin: 6px;
  padding: 8px 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: #8e8e8e;
  color: #d6d6d6;
}

button:hover,
input[type=submit]:hover {
  background-color: #727171;
}

button:focus {
  background-color: #727171;
}

*:focus {
  border: none;
  outline: none;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#top-nav {
  transition: top 0.3s;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

#top-nav a {
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #e5e5e5;
}

#top-nav a:hover {
  color: #666666;
}

#top-nav .left {
  float: left;
}

#top-nav .right {
  float: right;
}

#top-nav .far-left {
  margin-left: 5px;
}

#top-nav .far-right {
  margin-right: 10px;
}

#bridges-header-container h1 {
  margin-bottom: 0px;
  font-size: 6em;
}

#bridges-header-container p {
  margin-bottom: 40px;
  font-size: 18px;
}

/* Search Container */
#search-container {
  border: none;
  margin: 6px;
  margin-bottom: 40px;
  padding: 8px 20px;
  font-size: 16px;
}

#search-container input[type=text] {
  border: none;
  border-radius: 25px;
  margin-right: 5px;
  padding: 6px;
  width: 80%;
  font-size: 18px;
  background-color: #e5e5e5;
  color: #727171;
}

/* Filter Container */
#filter-container, #criteria-container {
  margin-bottom: 30px;
}

#filter-container form {
  display: inline-block;
}

/* Postings */
.posting {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  color: #666666;
}

.posting strong {
  font-size: 18px;
}

.posting:hover {
  background-color: #8e8e8e;
  color: #d6d6d6;
}

.edit {
  float: right;
  text-decoration: underline;
  margin-top: 20px;
}

.posting:hover .edit {
  color: #d6d6d6;
}

.add-remove {
  float: left;
  margin-top: 20px;
  margin-left: 35px;
  font-size: 18px;
}

/* Information Container*/
#information-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 90%;
  text-align: left;
  font-size: 18px;
}

#information-container h2 {
  text-decoration: underline;
}

#information-container a {
  color: #727171;
  text-decoration: underline;
}
#information-container a:hover {
  color: #666666;
}

#information-container .org-webpage {
  display: inline;
  margin-right: 10px;
}

/* Posting Buttons */
#form-button-container {
  margin-right: 15px;
  margin-top: 30px;
}

#form-button-container form {
  display: inline;
}

#form-button-container .post-button {
  width: 93%;
}

#form-button-container .posting-button {
  width: 90%;
}

#form-button-container .dash-post-button {
  width: 45%;
}

/* Text Area Container */
#textarea-container {
  margin-left: 4%;
  margin-right: 6%;
  text-align: right;
}

#textarea-container textarea {
  background-color: #e5e5e5;
  color: #727171;
}

#textarea-container textarea {
  resize: none;
  border: none;
  margin-bottom: 20px;
  padding: 6px;
  font-family: sans-serif, Arial, Helvetica, serif;
  font-size: 18px;
}

#textarea-container p {
  float: left;
  margin-bottom: 10px;
  font-size: 18px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  background-color: #8e8e8e;
  color: #e5e5e5;
 }
