.center.jumbotron
  %h1.text-center Bridging Out-of-School Time
  %p.text-center A catalog of after school, weekend, and summer activities for children and young adults in the High Desert Education Service District.
  %form.form-inline.search
    %input.col-md-6.form-control{type: 'text', required: true, placeholder: 'Search...'}
    .btn.btn-primary.btn-sm.active Search
  %section.tags
    .btn.btn-primary.btn-sm.active selected tag
    .btn.btn-secondary.btn-sm.active tag
    .btn.btn-primary.btn-sm.active selected tag
    .btn.btn-secondary.btn-sm.active tag
    .btn.btn-secondary.btn-sm.active tag
    .btn.btn-secondary.btn-sm.active tag
    .btn.btn-secondary.btn-sm.active tag
    .btn.btn-primary.btn-sm.active selected tag
    .btn.btn-primary.btn-sm.active selected tag
    .btn.btn-secondary.btn-sm.active tag
    .btn.btn-secondary.btn-sm.active tag
    .btn.btn-secondary.btn-sm.active tag
    .btn.btn-primary.btn-sm.active selected tag
    .btn.btn-secondary.btn-sm.active tag
    .btn.btn-secondary.btn-sm.active tag
    .btn.btn-secondary.btn-sm.active tag
    .btn.btn-primary.btn-sm.active selected tag
    .btn.btn-primary.btn-sm.active selected tag
    .btn.btn-secondary.btn-sm.active tag
    .btn.btn-secondary.btn-sm.active tag
.container-fluid
  .row
    .col-lg-4.center
      .col-lg-12.center
        %h3 Activity Title
        %p Activity details
        .btn.btn-secondary.btn-sm.active tag
        .btn.btn-secondary.btn-sm.active tag
    .col-lg-4.center
      .col-lg-12.center
        %h3 Activity Title
        %p Activity details
        .btn.btn-secondary.btn-sm.active tag
        .btn.btn-secondary.btn-sm.active tag
    .col-lg-4.center
      .col-lg-12.center
        %h3 Activity Title
        %p Activity details
        .btn.btn-secondary.btn-sm.active tag
        .btn.btn-secondary.btn-sm.active tag
    .col-lg-4.center
      .col-lg-12.center
        %h3 Activity Title
        %p Activity details
        .btn.btn-secondary.btn-sm.active tag
        .btn.btn-secondary.btn-sm.active tag
