h2 {
  font-size: 1em !important;
}

ul.tag-list {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

ul.tag-list li {

}

.filter-container {
  margin: 1em;

}

.posting {
  margin-top: 3em;
}