/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "tempusdominus-bootstrap-4";
@import "font-awesome";

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #F0F0F0;
  &:focus {
    box-shadow: none !important;
  }

  padding-top: 6rem;
  margin-bottom: 220px;
}

main {
  margin-bottom: 6rem;
}

select {
  height: calc(1.5em + 0.75rem + 2px);
  width: 100%;
}

textarea {
  white-space: pre-wrap;
}

.email-organization {
  margin-top: 20px !important;
}

input::-webkit-input-placeholder {
  color: #A9A9A9 !important;
}

input::-moz-placeholder {
  color: #A9A9A9 !important;
}

input::-ms-placeholder {
  color: #A9A9A9 !important;
}

input::placeholder {
  color: #A9A9A9 !important;
}

.main-menu {
  background-color: #49ACC6 !important;
}

.main-menu .main-logo {
  height: 60px;
}

.jumbotron {
  padding: 1.5rem 1rem;
  background-color: #FCFCFC;
  color: black;
}

.user-table {
  display: flex;
}

.user-table {
  @media (max-width: 767px) {
    display: none;
  }
}

.user-list {
  @media (min-width: 767px) {
    display: none;
  }
}

.card-columns {
  @media (min-width: 1200px) {
    column-count: 3;
  }

  @media (max-width: 1200px) {
    column-count: 2;
  }

  .card {
    border-radius: 1rem;
    background-color: #49ACC6;
    border: none;

    a {
      color: white;
    }
  }
}

footer {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 25px;
  border-top: 1px solid $gray-400;
  background-color: rgb(60, 61, 65);
  nav {
    display: inline;
    ul {
      float: right;
      list-style: none;
      li {
        height: 1rem;
        float: left;
        margin-left: 15px;
      }
    }
    a {
      color: $gray-400;
      &:hover {
        color: $gray-400;
      }
    }
  }
}

.alert-success {
  color: #fff;
  background-color: #9bbb59;
  border-color: #9bbb59;
  opacity: 0.85;

  .close:hover {
    color: #fff;
  }
}

.alert-warning {
  color: #fff;
  background-color: #F79648;
  border-color: #F79648;
  opacity: 0.85;

  .close:hover {
    color: #fff;
  }
}

#error_explanation {
  @extend .alert;
  @extend .alert-warning;
  h2 {
    text-align: left;
    font-weight: bold;
    font-size: 1em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.field_with_errors .form-control {
  @extend .is-invalid;
  border-color: #c0504d;
}

.form-container {
  width: 50%;
  margin-top: 2rem;
  input[type="submit"] {
    margin-top: 1rem;
    width: auto;
  }
}

th, td {
  padding: 15px;
}

.col-lg-12 {
  background-color: #eeeeee;
  padding: 15px;
  margin-bottom: 30px;
}

.no-results {
  color: #fff !important;
  background-color: #c0504d !important;
  border-color: #c0504d !important;
  padding: 1rem;
  border-radius: 0.3rem;
}

.individual-card {
  padding: 15px;
  margin-bottom: 30px;
  display: flex;
  border-radius: 0.4rem;
  border: 1px solid #DDD;

  &.active {
    background-color: #FCFCFC;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2), -1px -1px 4px 0 rgba(0, 0, 0, 0.2),;
  }
}

.align-column {
  display: flex;
  align-items: center;
}

.center-column {
  justify-content: center;
}

.individual-row {
  margin-bottom: 0.2rem;
  border: 1px solid #DDD;
  border-radius: 0.4rem;

  p {
    margin: 0;
  }

  &.active {
    background-color: #FCFCFC;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2), -1px -1px 4px 0 rgba(0, 0, 0, 0.2),;
  }
}

.btn-purple {
  color: #fff !important;
  background-color: #965A92 !important;
  border-color: #965A92 !important;

  &:hover,
  &:active {
    background-color: #804d7c !important;
    border-color: #804d7c !important;
  }
}

.btn-blue {
  margin-bottom: 0.5rem;
  color: #fff !important;
  background-color: #49ACC6 !important;
  border-color: #49ACC6 !important;

  &:hover,
  &:active {
    background-color: #3797ae !important;
    border-color: #3797ae !important;
  }
}

.btn-orange {
  color: #fff !important;
  background-color: #F79648 !important;
  border-color: #F79648 !important;

  &:hover,
  &:active {
    background-color: #f5740a !important;
    border-color: #f5740a !important;
  }
}

.btn-green,
input[type="submit"],
.email-organization {
  color: #fff !important;
  background-color: #9bbb59 !important;
  border-color: #9bbb59 !important;

  &:hover,
  &:active {
    background-color: #83a343 !important;
    border-color: #83a343 !important;
  }
}

.btn-red {
  color: #fff !important;
  background-color: #c0504d !important;
  border-color: #c0504d !important;

  &:hover {
    background-color: #aa3f3c !important;
    border-color: #aa3f3c !important;
  }
}

.btn-group {
  .btn {
    margin: 3px;
  }
}

.input-group-text {
  .fa-calendar {
    color: #fff;
  }
}

.bootstrap-datetimepicker-widget table td span.active,
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #965A92;
}

.custom-file-label::after {
  background-color: #965A92;
  color: #fff;
}

.custom-file-input {
  &:hover {
    cursor: pointer;
  }
}

.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: #965A92;
}

.bootstrap-datetimepicker-widget {
  .fa-calendar {
    color: #965A92;
  }

  .fa-clock-o {
    color: #965A92;
  }
}

.pending {
  background-color: #FFFBCE;
}

.denied {
  background-color: #FFE4E1;
}

.text-center {
  text-align: center;
}

.logo {
  max-width: 100px;
  margin-right: 20px;

  img {
    background-color: white;
    max-width: 100px;
    max-height: 100px;
    font-size: 12px;
  }
}

.large-logo img {
  max-width: 200px;
}

.dashboard-header h1, .dashboard-header p {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  color: #333;
  font-weight: 500;
}

.search {
  justify-content: center;
}

.tags {
  padding: 10px 10px 0px 10px;
  text-align: center;

  .tag {
    &:hover {
      color: #FFF;
      background-color: #69CCE6;
      border-color: #49ACC6;
    }
  }

  .tag.active {
    color: #FFF;
    background-color: #49ACC6 !important;
    border-color: #298CA6 !important;

    &:active {
      background-color: #EEE !important;
      color: #888 !important;
    }
  }
}

.tag {
  font-weight: normal !important;
  background-color: #EEE;
  color: #888;
}

.btn-static {
  background-color: #965A92 !important;
  border-color: #965A92 !important;
  margin: 3px 3px 3px 0;
}

.model-card {
  a:hover {
    text-decoration: underline !important;
    cursor: pointer;
  }

  a {
    text-decoration: none !important;
    background-color: transparent !important;
  }
}

.hide {
  display: none;
}

#ongoing, #onetime {
  cursor: pointer;
}

#toggle {
  .active {
    background-color: #f5740a !important;
    border-color: #f5740a !important;
  }
}

a {
  color: #49ACC6;

  &:hover {
    color: #3797ae;
  }
}

.model-detail {
  margin-bottom: 0.5rem;
  font-weight: 200;
}

.subnav {
  margin-bottom: 20px;
}

.bg-dark {
  color: #3a3a3e;
}

.nav-link {
  color: #FFFFFF !important;
  margin-left: 2rem;
  font-size: 1.2em;
  &:hover {
    background-color: #965A92;
    border-radius: 0.3rem;
  }
}

/* Authentication */

body.sessions.new, body.registrations.new, body.registrations.create {
  background-color: #f5f5f5;
}

.container-auth {
  margin-top: 5rem;
}

.form-auth {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="email"] {
    margin-bottom: -1px;
  }
  input[type="password"] {
    margin-bottom: 10px;
  }
  .g-recaptcha {
    display: inline-block;
  }
}

.form-signin {
  max-width: 500px;
}

.details {
  background-color: #FCFCFC;
}