= javascript_pack_tag 'organizations'
%div{id: 'dashboard'}
  %organizations_dashboard{':organizations': @organizations.to_json, ':pending-organizations': @pending_organizations.to_json, ':denied-organizations': @denied_organizations.to_json, ':tags': @tags.to_json, 'admin': current_user&.admin?}
