= javascript_pack_tag 'models'
%div{id: 'dashboard'}
  %models_dashboard{':models': @activities.to_json, ':pending-models': @pending_activities.to_json, ':denied-models': @denied_activities.to_json, ':tags': @tags.to_json, 'admin': current_user&.admin?, 'model-singular': 'activity', 'model-plural': 'activities', 'model-display-title': 'title'}
