%footer
  .row
    .col-3.text-center
      .footer-logo
        = link_to 'http://bettertogethercentraloregon.org' do
          = image_tag 'better_together_logo.png'
          %h2.text-light Better&nbsp;Together
    .col.text-right.align-self-center
      %span.text-light © 2019 Bridges. All rights reserved.